In [153]:
import pandas as pd
import numpy as np
from datetime import date

In [154]:
useful_attributes=['Player', 'Team', 'Pos', 'W%', 'KDA','KP', 'GD10', 'XPD10', 'CSD10','DPM']

data_list=[]

player_tier = 5 

player_list = []

In [155]:
year=['15','16','17','18','19','20','21']
season=['Spring','Summer']
file_directory='./data_before/player/'
file_directory2='./data_before/match/'

def change_player_name(x):
    
    mydict = {97:  101,101:105,105:111,111:117,117:97,65:69,69:73,73:79,79:85,85:65}
    x = x.translate(mydict)
    
    if x=='Shy':
        x = 'Shay'
    elif x=='SS':
        x = 'KK'
    elif x=='Fly':
        x = 'Flay'
        
  
    return x


def change_team_name(x):
    
    mydict = {97:  101,101:105,105:111,111:117,117:97,65:69,69:73,73:79,79:85,85:65}
    x = x.translate(mydict)
    
    if x=='MVP':
        x = 'MBP'
    elif x =='DRX':
        x = 'DRK'
    elif x == 'T1':
        x = 'T2'
    return x



'''
97 a
101 e
105 i
111 o
117 u
65 A
69 E
73 I
79 O
85 U
'''

'\n97 a\n101 e\n105 i\n111 o\n117 u\n65 A\n69 E\n73 I\n79 O\n85 U\n'

In [156]:


data=pd.read_csv("{0}player1.csv".format(file_directory))

print(data.info())

data = data.astype({'KP':'float64','W%':'float64'})

data_list.append(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906 entries, 0 to 905
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  906 non-null    int64
 1   Year        906 non-null    int64
 2   Season      906 non-null    object
 3   Player      906 non-null    object
 4   Team        906 non-null    object
 5   Pos         906 non-null    object
 6   W%          906 non-null    int64
 7   KDA         906 non-null    float64
 8   KP          906 non-null    float64
 9   DPM         906 non-null    int64
 10  Laning      906 non-null    int64
 11  Engage      906 non-null    int64
 12  Fight       906 non-null    int64
 13  Tier        906 non-null    int64
 14  Price       906 non-null    int64
dtypes: float64(2), int64(9), object(4)
memory usage: 106.3+ KB
None

In [157]:
all_data=pd.concat(data_list,axis=0,ignore_index=True)

In [158]:
def change_name(x):
    if x=='Ssol':
        return 'SS'
    if x=='Yeongjae':
        return 'YoungJae'
    else:
        return x

In [159]:
all_data['Player']=all_data['Player'].apply(change_name)
all_data['Player']=all_data['Player'].apply(change_player_name)
all_data['Team']=all_data['Team'].apply(change_team_name)

In [160]:
all_data.to_csv('./data_after/player1.csv')

In [161]:
useful_attributes=['gameid','league','year','split','playerid','side','position','player','team','champion','result','date']
data_list=[]
year=['15','16','17','18','19','20','21']
file_directory='./data_before/match/'

In [162]:
season_duration={
                '15Spring':[date(2015,1,7),date(2015,4,12)],
                '15Summer':[date(2015,5,20),date(2015,8,14)],
                '16Spring':[date(2016,1,13),date(2016,4,10)],
                '16Summer':[date(2016,5,25),date(2016,8,7)],
                '17Spring':[date(2017,1,17),date(2017,4,3)],
                '17Summer':[date(2017,5,30),date(2017,8,7)],
                '18Spring':[date(2018,1,17),date(2018,3,26)],
                '18Summer':[date(2018,6,12),date(2018,8,10)],
                '19Spring':[date(2019,1,16),date(2019,4,1)],
                '19Summer':[date(2019,6,5),date(2019,8,19)],
                '20Spring':[date(2020,2,5),date(2020,4,17)],
                '20Summer':[date(2020,6,17),date(2020,8,24)],
                '21Spring':[date(2021,1,13),date(2021,3,1)]
                }

In [163]:
data=pd.read_csv("./data_before/match/16.csv",usecols=['date'])

In [164]:
def change_pos_name(x):
    if x=='top':
        return 'Top'
    elif x=='jng':
        return 'Jungle'
    elif x=='mid':
        return 'Middle'
    elif x=='bot':
        return 'ADC'
    else:
        return 'Support'

In [165]:
def change_side_to_int(x):
    if x=='Blue':
        return 1
    else:
        return 0

In [166]:
for elem in year:
    
    data=pd.read_csv("{0}{1}.csv".format(file_directory,elem),usecols=useful_attributes)
    print(data)
    if elem=='15':
        cond1=data['league']=='LTC'
        data=data[cond1]
        data['league']=data['league'].apply(lambda x:'LCK')
    else:
        cond1=data['league']=='LCK'
        data=data[cond1]
        
        
        
   # data.dropna(axis=0,inplace=True)
    data['side']=data['side'].apply(change_side_to_int)
    data['position']=data['position'].apply(change_pos_name)
    data['player'] = data['player'].apply(change_player_name)
    data_list.append(data)

             gameid league  year   split                 date  playerid  side  \
0      TRKR1/440018    LTC  2015  Spring  2015-01-07 08:56:44         1  Blue
1      TRKR1/440018    LTC  2015  Spring  2015-01-07 08:56:44         2  Blue
2      TRKR1/440018    LTC  2015  Spring  2015-01-07 08:56:44         3  Blue
3      TRKR1/440018    LTC  2015  Spring  2015-01-07 08:56:44         4  Blue
4      TRKR1/440018    LTC  2015  Spring  2015-01-07 08:56:44         5  Blue
...             ...    ...   ...     ...                  ...       ...   ...
21787  FRA1TMNT2/92    IEM  2016     NaN  2015-12-20 20:24:49         8   Red
21788  FRA1TMNT2/92    IEM  2016     NaN  2015-12-20 20:24:49         9   Red
21789  FRA1TMNT2/92    IEM  2016     NaN  2015-12-20 20:24:49        10   Red
21790  FRA1TMNT2/92    IEM  2016     NaN  2015-12-20 20:24:49       100  Blue
21791  FRA1TMNT2/92    IEM  2016     NaN  2015-12-20 20:24:49       200   Red

      position  player             team    champion  result
0          top    Duke    NaJin e-mFire      Rumble       1
1          jng   Watch    NaJin e-mFire   Jarvan IV       1
2          mid  Ggoong    NaJin e-mFire         Zed       1
3          bot     Ohq    NaJin e-mFire       Sivir       1
4          sup    Cain    NaJin e-mFire       Annie       1
...        ...     ...              ...         ...     ...
21787      mid   Doinb  Qiao Gu Reapers  Cassiopeia       0
21788      bot   Happy  Qiao Gu Reapers    Tristana       0
21789      sup     Mor  Qiao Gu Reapers     Trundle       0
21790     team     NaN         ESC Ever         NaN       1
21791     team     NaN  Qiao Gu Reapers         NaN       0

[21792 rows x 12 columns]
                 gameid league  year   split                 date  playerid  \
0      FRA1TMNT1/850059  EU CS  2016  Spring  2016-01-11 16:47:56         1
1      FRA1TMNT1/850059  EU CS  2016  Spring  2016-01-11 16:47:56         2
2      FRA1TMNT1/850059  EU CS  2016  Spring  2016-01-11 16:47:56         3
3      FRA1TMNT1/850059  EU CS  2016  Spring  2016-01-11 16:47:56         4
4      FRA1TMNT1/850059  EU CS  2016  Spring  2016-01-11 16:47:56         5
...                 ...    ...   ...     ...                  ...       ...
51427  TRNA1/1001330340    IEM  2017     NaN  2016-12-18 10:42:56         8
51428  TRNA1/1001330340    IEM  2017     NaN  2016-12-18 10:42:56         9
51429  TRNA1/1001330340    IEM  2017     NaN  2016-12-18 10:42:56        10
51430  TRNA1/1001330340    IEM  2017     NaN  2016-12-18 10:42:56       100
51431  TRNA1/1001330340    IEM  2017     NaN  2016-12-18 10:42:56       200

       side position       player             team    champion  result
0      Blue      top       Werlyb             Huma   Gangplank       1
1      Blue      jng     Santorin             Huma     Kindred       1
2      Blue      mid       Godbro             Huma      Viktor       1
3      Blue      bot  HolyPhoenix             Huma       Corki       1
4      Blue      sup     Kaasbaas             Huma      Thresh       1
...     ...      ...          ...              ...         ...     ...
51427   Red      mid         Edge  Kongdoo Monster  Cassiopeia       0
51428   Red      bot           SS  Kongdoo Monster        Jhin       0
51429   Red      sup        GuGer  Kongdoo Monster       Karma       0
51430  Blue     team          NaN   Samsung Galaxy         NaN       1
51431   Red     team          NaN  Kongdoo Monster         NaN       0

[51432 rows x 12 columns]
                gameid league  year   split                 date  playerid  \
0      TREU/1001490056  EU CS  2017  Spring  2017-01-10 15:44:06         1
1      TREU/1001490056  EU CS  2017  Spring  2017-01-10 15:44:06         2
2      TREU/1001490056  EU CS  2017  Spring  2017-01-10 15:44:06         3
3      TREU/1001490056  EU CS  2017  Spring  2017-01-10 15:44:06         4
4      TREU/1001490056  EU CS  2017  Spring  2017-01-10 15:44:06         5
...                ...    ...   ...     ...                  ...       ...
68287        2877-3122     DC  2017     NaN  2017-12-31 11:43:15         8
68288        2877-3122     DC  2017     NaN  2017-12-31 11:43:15         9
68289        2877-3122     DC  2017     NaN  2017-12-31 11:43:15        10
68290        2877-3122     DC  2017     NaN  2017-12-31 11:43:15       100
68291        2877-3122     DC  2017     NaN  2017-12-31 11:43:15       200

       side position    player            team  champion  result
0      Blue      top     Kikis  Fnatic Academy  Nautilus       1
1      Blue      jng    Broxah  Fnatic Academy   Lee Sin       1
2      Blue      mid     Nisqy  Fnatic Academy    Syndra       1
3      Blue      bot  MrRallez  Fnatic Academy      Jhin       1
4      Blue      sup      Klaj  Fnatic Academy     Karma       1
...     ...      ...       ...             ...       ...     ...
68287   Red      mid     Scout   EDward Gaming  Malzahar       1
68288   Red      bot      iBoy   EDward Gaming    Ezreal       1
68289   Red      sup     Meiko   EDward Gaming     Leona       1
68290  Blue     team       NaN    unknown team       NaN       0
68291   Red     team       NaN   EDward Gaming       NaN       1

[68292 rows x 12 columns]
                     gameid league  year split                 date  playerid  \
0                 2885-3124     DC  2017   NaN  2018-01-04 04:31:10         1
1                 2885-3124     DC  2017   NaN  2018-01-04 04:31:10         2
2                 2885-3124     DC  2017   NaN  2018-01-04 04:31:10         3
3                 2885-3124     DC  2017   NaN  2018-01-04 04:31:10         4
4                 2885-3124     DC  2017   NaN  2018-01-04 04:31:10         5
...                     ...    ...   ...   ...                  ...       ...
79581  ESPORTSTMNT06/920201  KeSPA  2019   NaN  2018-12-31 09:51:07         8
79582  ESPORTSTMNT06/920201  KeSPA  2019   NaN  2018-12-31 09:51:07         9
79583  ESPORTSTMNT06/920201  KeSPA  2019   NaN  2018-12-31 09:51:07        10
79584  ESPORTSTMNT06/920201  KeSPA  2019   NaN  2018-12-31 09:51:07       100
79585  ESPORTSTMNT06/920201  KeSPA  2019   NaN  2018-12-31 09:51:07       200

       side position      player             team    champion  result
0      Blue      top      TheShy  Invictus Gaming     Trundle       1
1      Blue      jng        Ning  Invictus Gaming   Jarvan IV       1
2      Blue      mid      Rookie  Invictus Gaming        Azir       1
3      Blue      bot  JackeyLove  Invictus Gaming     Caitlyn       1
4      Blue      sup      Baolan  Invictus Gaming  Tahm Kench       1
...     ...      ...         ...              ...         ...     ...
79581   Red      mid         Fly            Gen.G         Zoe       0
79582   Red      bot       Ruler            Gen.G      Ezreal       0
79583   Red      sup        Life            Gen.G  Tahm Kench       0
79584  Blue     team         NaN          Griffin         NaN       1
79585   Red     team         NaN            Gen.G         NaN       0

[79586 rows x 12 columns]
                      gameid league  year    split                 date  \
0      ESPORTSTMNT01/1030526  CBLOL  2019  Split 1  2019-01-12 14:56:22
1      ESPORTSTMNT01/1030526  CBLOL  2019  Split 1  2019-01-12 14:56:22
2      ESPORTSTMNT01/1030526  CBLOL  2019  Split 1  2019-01-12 14:56:22
3      ESPORTSTMNT01/1030526  CBLOL  2019  Split 1  2019-01-12 14:56:22
4      ESPORTSTMNT01/1030526  CBLOL  2019  Split 1  2019-01-12 14:56:22
...                      ...    ...   ...      ...                  ...
95503  ESPORTSTMNT03/1241201  KeSPA  2020      NaN  2019-12-31 12:40:06
95504  ESPORTSTMNT03/1241201  KeSPA  2020      NaN  2019-12-31 12:40:06
95505  ESPORTSTMNT03/1241201  KeSPA  2020      NaN  2019-12-31 12:40:06
95506  ESPORTSTMNT03/1241201  KeSPA  2020      NaN  2019-12-31 12:40:06
95507  ESPORTSTMNT03/1241201  KeSPA  2020      NaN  2019-12-31 12:40:06

       playerid  side position  player              team      champion  result
0             1  Blue      top    Robo  Flamengo Esports          Sion       1
1             2  Blue      jng  Shrimp  Flamengo Esports       Taliyah       1
2             3  Blue      mid    Goku  Flamengo Esports        Irelia       1
3             4  Blue      bot    brTT  Flamengo Esports        Kai'Sa       1
4             5  Blue      sup    Luci  Flamengo Esports       Alistar       1
...         ...   ...      ...     ...               ...           ...     ...
95503         8   Red      mid   Chovy               DRX        Qiyana       1
95504         9   Red      bot    Deft               DRX  Miss Fortune       1
95505        10   Red      sup   Keria               DRX      Nautilus       1
95506       100  Blue     team     NaN     DAMWON Gaming           NaN       0
95507       200   Red     team     NaN               DRX           NaN       1

[95508 rows x 12 columns]

C:\Users\kwcha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                       gameid league  year split                 date  \
0       ESPORTSTMNT03/1241318  KeSPA  2020   NaN  2020-01-03 07:33:26
1       ESPORTSTMNT03/1241318  KeSPA  2020   NaN  2020-01-03 07:33:26
2       ESPORTSTMNT03/1241318  KeSPA  2020   NaN  2020-01-03 07:33:26
3       ESPORTSTMNT03/1241318  KeSPA  2020   NaN  2020-01-03 07:33:26
4       ESPORTSTMNT03/1241318  KeSPA  2020   NaN  2020-01-03 07:33:26
...                       ...    ...   ...   ...                  ...
115135              6903-9182     DC  2020   NaN  2020-12-27 11:06:48
115136              6903-9182     DC  2020   NaN  2020-12-27 11:06:48
115137              6903-9182     DC  2020   NaN  2020-12-27 11:06:48
115138              6903-9182     DC  2020   NaN  2020-12-27 11:06:48
115139              6903-9182     DC  2020   NaN  2020-12-27 11:06:48

        playerid  side position   player            team      champion  result
0              1  Blue      top   Summit  SANDBOX Gaming        Rumble       1
1              2  Blue      jng  OnFleek  SANDBOX Gaming         Elise       1
2              3  Blue      mid     FATE  SANDBOX Gaming        Qiyana       1
3              4  Blue      bot      Leo  SANDBOX Gaming  Miss Fortune       1
4              5  Blue      sup  GorillA  SANDBOX Gaming      Nautilus       1
...          ...   ...      ...      ...             ...           ...     ...
115135         8   Red      mid   Shanks         Team WE          Ekko       0
115136         9   Red      bot      Elk         Team WE        Samira       0
115137        10   Red      sup  Missing         Team WE         Leona       0
115138       100  Blue     team      NaN     Top Esports           NaN       1
115139       200   Red     team      NaN         Team WE           NaN       0

[115140 rows x 12 columns]
                       gameid league  year    split                 date  \
0       ESPORTSTMNT03/1632489  KeSPA  2021      NaN  2021-01-02 07:40:39
1       ESPORTSTMNT03/1632489  KeSPA  2021      NaN  2021-01-02 07:40:39
2       ESPORTSTMNT03/1632489  KeSPA  2021      NaN  2021-01-02 07:40:39
3       ESPORTSTMNT03/1632489  KeSPA  2021      NaN  2021-01-02 07:40:39
4       ESPORTSTMNT03/1632489  KeSPA  2021      NaN  2021-01-02 07:40:39
...                       ...    ...   ...      ...                  ...
121183  ESPORTSTMNT03/2102594    LLA  2021  Closing  2021-08-15 00:47:19
121184  ESPORTSTMNT03/2102594    LLA  2021  Closing  2021-08-15 00:47:19
121185  ESPORTSTMNT03/2102594    LLA  2021  Closing  2021-08-15 00:47:19
121186  ESPORTSTMNT03/2102594    LLA  2021  Closing  2021-08-15 00:47:19
121187  ESPORTSTMNT03/2102594    LLA  2021  Closing  2021-08-15 00:47:19

        playerid  side position     player            team      champion  \
0              1  Blue      top       Khan         DWG KIA   Mordekaiser
1              2  Blue      jng     Canyon         DWG KIA        Graves
2              3  Blue      mid  ShowMaker         DWG KIA           Zoe
3              4  Blue      bot      Ghost         DWG KIA  Miss Fortune
4              5  Blue      sup      BeryL         DWG KIA         Galio
...          ...   ...      ...        ...             ...           ...
121183         8   Red      mid     TopLop  Furious Gaming  Twisted Fate
121184         9   Red      bot       Erry  Furious Gaming         Varus
121185        10   Red      sup      Messi  Furious Gaming       Trundle
121186       100  Blue     team        NaN          Isurus           NaN
121187       200   Red     team        NaN  Furious Gaming           NaN

        result
0            1
1            1
2            1
3            1
4            1
...        ...
121183       1
121184       1
121185       1
121186       0
121187       1

[121188 rows x 12 columns]

In [167]:
all_data=pd.concat(data_list,axis=0,ignore_index=True)

all_data.set_index(['gameid'],inplace=True)

index=set(all_data.index)


all_data['date']=pd.to_datetime(all_data['date'])

count=0
for elem in index:
    season=all_data.loc[elem]['split'].iloc[0]
    year=all_data.loc[elem]['year'].iloc[0]-2000
    date=all_data.loc[elem]['date'].iloc[0]
    if year==21 and season=='Summer':
        all_data.drop(index=elem,inplace=True)
        continue
    season_duration_data=season_duration['{0}{1}'.format(year,season)]
    if not (season_duration_data[0]<=date<season_duration_data[1]):
        all_data.drop(index=elem,inplace=True)

In [168]:
all_data['player']=all_data['player'].apply(change_name)
all_data['team'] = all_data['team'].apply(change_team_name)
all_data.to_csv('./data_after/match.csv',index=True)

In [169]:

data_list=[]
file_directory='./data_before/team/'
year=['15','16','17','18','19','20','21']
season=['Spring','Summer']
useful_attributes=['Team']
for elem1 in year:
    for elem2 in season:
        
        if elem1=='21' and elem2=='Summer':
            continue
            
        data=pd.read_csv("{0}{1}{2}Team.csv".format(file_directory,elem1,elem2),usecols=useful_attributes)
        data['Year']=[elem1]*data.shape[0]
        data['season']=[elem2]*data.shape[0]
        data_list.append(data)
        

all_data=pd.concat(data_list,axis=0,ignore_index=True)
all_data['Team']=all_data['Team'].apply(change_team_name)
all_data.to_csv('./data_after/team.csv')