# 머신러닝 or 딥러닝에 사용할 데이터셋 만들기

In [1]:
import pandas as pd

In [2]:
file_directory='./data_after/'

In [3]:
match_data=pd.read_csv("{0}match.csv".format(file_directory))
champion_data=pd.read_csv("{0}champion.csv".format(file_directory))
player_data=pd.read_csv("{0}player.csv".format(file_directory))

In [4]:
match_data.set_index(['gameid'],inplace=True)

In [5]:
match_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26410 entries, TRKR1/440018 to ESPORTSTMNT03/1767673
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   league    26410 non-null  object
 1   year      26410 non-null  int64
 2   split     26410 non-null  object
 3   date      26410 non-null  object
 4   playerid  26410 non-null  int64
 5   side      26410 non-null  int64
 6   position  26410 non-null  object
 7   player    26410 non-null  object
 8   team      26410 non-null  object
 9   champion  26410 non-null  object
 10  result    26410 non-null  int64
dtypes: int64(4), object(7)
memory usage: 2.4+ MB

In [6]:
champion_data

      Year  Season Champion      Pos  GP    P%    B%   W%
0       15  Spring     Ahri   Middle  19  14.8   8.6   42
1       15  Spring  Alistar  Support   7   5.5   0.0   57
2       15  Spring   Anivia   Middle   1   0.8   0.8  100
3       15  Spring    Annie  Support  25  19.5   7.8   64
4       15  Spring     Azir   Middle  11   8.6  10.9   45
...    ...     ...      ...      ...  ..   ...   ...  ...
1520    21  Spring    Xayah      ADC  40  18.6   5.1   58
1521    21  Spring     Yone   Middle  10   4.7  16.3   60
1522    21  Spring    Yuumi  Support   2   0.9   0.0    0
1523    21  Spring   Zilean   Middle   3   1.4   0.0   67
1524    21  Spring      Zoe   Middle  50  23.3  16.3   52

[1525 rows x 8 columns]

In [7]:
champion_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      1525 non-null   int64
 1   Season    1525 non-null   object
 2   Champion  1525 non-null   object
 3   Pos       1525 non-null   object
 4   GP        1525 non-null   int64
 5   P%        1525 non-null   float64
 6   B%        1525 non-null   float64
 7   W%        1525 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 95.4+ KB

In [8]:
player_data

,Year,Season,Player,Team,Pos,W%,KDA,KP,GD10,XPD10,CSD10,DPM
0,15,Spring,Ace,Samsung Galaxy,Middle,40.0,2.1,67.3,-72,35,1.4,478
1,15,Spring,Ambition,CJ Entus,Jungle,63.0,4.0,72.1,125,197,3.3,229
2,15,Spring,Ares,Incredible Miracle,Jungle,7.0,1.7,79.1,-101,-125,-0.3,157
3,15,Spring,Arrow,KT Rolster,ADC,45.0,3.8,73.7,-88,22,-1.4,438
4,15,Spring,Bang,SK Telecom T1,ADC,72.0,6.4,69.7,20,21,1.6,547
...,...,...,...,...,...,...,...,...,...,...,...,...
901,21,Spring,Vsta,Hanwha Life Esports,Support,59.0,3.0,65.8,-41,66,0.6,177
902,21,Spring,Yaharong,Fredit BRION,Middle,44.0,4.6,73.1,-118,-29,-2.1,453
903,21,Spring,yoHan,Hanwha Life Esports,Jungle,71.0,3.1,63.3,-69,-56,-0.4,329
904,21,Spring,Zeus,T1,Top,63.0,3.1,59.3,53,70,1.3,421
905,21,Spring,Zzus,KT Rolster,Support,40.0,2.3,66.0,-97,-113,-2.5,98

In [9]:
match_data_index=set(match_data.index)
match_data.tail()

,league,year,split,date,playerid,side,position,player,team,champion,result
gameid,,,,,,,,,,,
ESPORTSTMNT03/1767673,LCK,2021,Spring,2021-02-28 12:30:42,6,0,Top,Summit,Liiv SANDBOX,Renekton,0
ESPORTSTMNT03/1767673,LCK,2021,Spring,2021-02-28 12:30:42,7,0,Jungle,Croco,Liiv SANDBOX,Lillia,0
ESPORTSTMNT03/1767673,LCK,2021,Spring,2021-02-28 12:30:42,8,0,Middle,FATE,Liiv SANDBOX,Lucian,0
ESPORTSTMNT03/1767673,LCK,2021,Spring,2021-02-28 12:30:42,9,0,ADC,Prince,Liiv SANDBOX,Samira,0
ESPORTSTMNT03/1767673,LCK,2021,Spring,2021-02-28 12:30:42,10,0,Support,Effort,Liiv SANDBOX,Nautilus,0

In [10]:
lane=['Top','Jungle','Middle','ADC','Support']
player_attr=['W%','KDA','KP','GD10','XPD10','CSD10','DPM']
champ_attr=['P%','B%','W%']

In [11]:
columns=['side','result']
side=['side1','side2']
for elem1 in side:
    for elem2 in lane:
        for elem3 in player_attr:
            columns.append('{0} {1} player {2}'.format(elem1,elem2,elem3))
    for elem2 in lane:
        for elem3 in champ_attr:
            columns.append('{0} {1} champ {2}'.format(elem1,elem2,elem3))

In [12]:
data_body=[]

In [13]:
for elem in match_data_index:
    
    
    lst1=[]
    lst2=[]
    after_data1=[]
    after_data2=[]
    temp_data=match_data.loc[elem][match_data.columns.difference(['league'])]
    datas=[temp_data[0:5],temp_data[5:]]
    
    j=0
    for data in datas:
        
            
        result=data.iloc[0]['result']
        side=data.iloc[0]['side']
        team=data.iloc[0]['team']
        year=data.iloc[0]['year']-2000
        season=data.iloc[0]['split']
        players=data['player']
        champions=data['champion']
        position=data['position']
        
        
        if j==0:
            after_data1=[result,side]
        else:
            after_data2=[result,side]
            
            
        cond1=(player_data['Year']==year)
        cond2=(player_data['Season']==season)
        cond5=(player_data['Team']==team)
        
        
        i=0
        
        for player in players:
            cond3=(player_data['Player']==player)
            cond4=(player_data['Pos']==position.iloc[i])
            if j==0:
                lst1.extend(player_data[cond1&cond2&cond3&cond4&cond5][player_attr].iloc[0])   
            else:
                lst2.extend(player_data[cond1&cond2&cond3&cond4&cond5][player_attr].iloc[0])   
            i+=1

        
        i=0
        cond1=(champion_data['Year']==year)
        cond2=(champion_data['Season']==season)
        for champion in champions:
            cond3=(champion_data['Champion']==champion)
            cond4=(champion_data['Pos']==position.iloc[i])
            if j==0:
                lst1.extend(champion_data[cond1&cond2&cond3&cond4][champ_attr].iloc[0])
            else:
                lst2.extend(champion_data[cond1&cond2&cond3&cond4][champ_attr].iloc[0])
            i+=1
                

    

        j+=1
    after_data1.extend(lst1)
    after_data1.extend(lst2)
    after_data2.extend(lst2)
    after_data2.extend(lst1)
    data_body.append(after_data1)
    data_body.append(after_data2)

In [14]:
export_data=pd.DataFrame(data=data_body, columns=columns)

In [15]:
export_data.to_csv('./train_data/train_data.csv')