In [91]:
import pandas as pd
import numpy as np
from datetime import date

In [74]:
useful_attributes=['Player', 'Team', 'Pos', 'W%', 'KDA','KP', 'GD10', 'XPD10', 'CSD10','DPM']

data_list=[]

player_tier = 5 

player_list = []

In [75]:
year=['15','16','17','18','19','20','21']
season=['Spring','Summer']
file_directory='./data_before/player/'
file_directory2='./data_before/match/'

def change_player_name(x):
    table = str.maketrans('aeiou', 'eioua')
    x = x.translate(table)
    return x

In [76]:
for elem1 in year:
    for elem2 in season:
        
        if elem1=='21' and elem2=='Summer':
            continue

        data=pd.read_csv("{0}{1}{2}Player.csv".format(file_directory,elem1,elem2),usecols=useful_attributes)
        print(elem1,elem2)
        print(data.info())
        
        data['KP']=data['KP'].apply(lambda x:str(x).split('%')[0])
        data['W%']=data['W%'].apply(lambda x:str(x).split('%')[0])
        
        
        if elem1=='20':
            data['Team']=data['Team'].apply(change_team_name)
        data = data.astype({'KP':'float64','W%':'float64'})
        
        data['Year'] = [elem1]*data.shape[0]
        data['Season'] = [elem2]*data.shape[0]
        data_list.append(data)

15 Spring
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  53 non-null     object
 1   Team    53 non-null     object
 2   Pos     53 non-null     object
 3   W%      53 non-null     object
 4   KDA     53 non-null     float64
 5   KP      53 non-null     object
 6   GD10    53 non-null     int64
 7   XPD10   53 non-null     int64
 8   CSD10   53 non-null     float64
 9   DPM     53 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 4.3+ KB
None
15 Summer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  77 non-null     object
 1   Team    77 non-null     object
 2   Pos     77 non-null     object
 3   W%      77 non-null     object
 4   KDA     77 non-null     float64
 5   KP      77 non-null     object
 6   GD10    77 non-null     int64
 7   XPD10   77 non-null     int64
 8   CSD10   77 non-null     float64
 9   DPM     77 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 6.1+ KB
None
16 Spring
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  69 non-null     object
 1   Team    69 non-null     object
 2   Pos     69 non-null     object
 3   W%      69 non-null     object
 4   KDA     69 non-null     float64
 5   KP      69 non-null     object
 6   GD10    69 non-null     int64
 7   XPD10   69 non-null     int64
 8   CSD10   69 non-null     float64
 9   DPM     69 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 5.5+ KB
None
16 Summer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  68 non-null     object
 1   Team    68 non-null     object
 2   Pos     68 non-null     object
 3   W%      68 non-null     object
 4   KDA     68 non-null     float64
 5   KP      68 non-null     object
 6   GD10    68 non-null     int64
 7   XPD10   68 non-null     int64
 8   CSD10   68 non-null     float64
 9   DPM     68 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 5.4+ KB
None
17 Spring
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  62 non-null     object
 1   Team    62 non-null     object
 2   Pos     62 non-null     object
 3   W%      62 non-null     object
 4   KDA     62 non-null     float64
 5   KP      62 non-null     object
 6   GD10    62 non-null     int64
 7   XPD10   62 non-null     int64
 8   CSD10   62 non-null     float64
 9   DPM     62 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 5.0+ KB
None
17 Summer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  64 non-null     object
 1   Team    64 non-null     object
 2   Pos     64 non-null     object
 3   W%      64 non-null     object
 4   KDA     64 non-null     float64
 5   KP      64 non-null     object
 6   GD10    64 non-null     int64
 7   XPD10   64 non-null     int64
 8   CSD10   64 non-null     float64
 9   DPM     64 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 5.1+ KB
None
18 Spring
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  67 non-null     object
 1   Team    67 non-null     object
 2   Pos     67 non-null     object
 3   W%      67 non-null     object
 4   KDA     67 non-null     float64
 5   KP      67 non-null     object
 6   GD10    67 non-null     int64
 7   XPD10   67 non-null     int64
 8   CSD10   67 non-null     float64
 9   DPM     67 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 5.4+ KB
None
18 Summer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  78 non-null     object
 1   Team    78 non-null     object
 2   Pos     78 non-null     object
 3   W%      78 non-null     object
 4   KDA     78 non-null     float64
 5   KP      78 non-null     object
 6   GD10    78 non-null     int64
 7   XPD10   78 non-null     int64
 8   CSD10   78 non-null     float64
 9   DPM     78 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 6.2+ KB
None
19 Spring
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   Team    79 non-null     object
 2   Pos     79 non-null     object
 3   W%      79 non-null     object
 4   KDA     79 non-null     float64
 5   KP      79 non-null     object
 6   GD10    79 non-null     int64
 7   XPD10   79 non-null     int64
 8   CSD10   79 non-null     float64
 9   DPM     79 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 6.3+ KB
None
19 Summer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  71 non-null     object
 1   Team    71 non-null     object
 2   Pos     71 non-null     object
 3   W%      71 non-null     object
 4   KDA     71 non-null     float64
 5   KP      71 non-null     object
 6   GD10    71 non-null     int64
 7   XPD10   71 non-null     int64
 8   CSD10   71 non-null     float64
 9   DPM     71 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 5.7+ KB
None
20 Spring
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  77 non-null     object
 1   Team    77 non-null     object
 2   Pos     77 non-null     object
 3   W%      77 non-null     object
 4   KDA     77 non-null     float64
 5   KP      77 non-null     object
 6   GD10    77 non-null     int64
 7   XPD10   77 non-null     int64
 8   CSD10   77 non-null     float64
 9   DPM     77 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 6.1+ KB
None

NameError: name 'change_team_name' is not defined

In [77]:
all_data=pd.concat(data_list,axis=0,ignore_index=True)

In [78]:
def change_name(x):
    if x=='Ssol':
        return 'SS'
    if x=='Yeongjae':
        return 'YoungJae'
    else:
        return x

In [79]:
all_data['Player']=all_data['Player'].apply(change_name)
all_data['Player']=all_data['Player'].apply(change_player_name)

a = change_player_name('Faker')
print(a)

Fekir

In [80]:
all_data=all_data.set_index(['Year','Season'])

In [88]:
all_data.to_csv('./data_after/player.csv')

In [89]:
useful_attributes=['gameid','league','year','split','playerid','side','position','player','team','champion','result','date']
data_list=[]
year=['15','16','17','18','19','20','21']
file_directory='./data_before/match/'

In [92]:
season_duration={
                '15Spring':[date(2015,1,7),date(2015,4,12)],
                '15Summer':[date(2015,5,20),date(2015,8,14)],
                '16Spring':[date(2016,1,13),date(2016,4,10)],
                '16Summer':[date(2016,5,25),date(2016,8,7)],
                '17Spring':[date(2017,1,17),date(2017,4,3)],
                '17Summer':[date(2017,5,30),date(2017,8,7)],
                '18Spring':[date(2018,1,17),date(2018,3,26)],
                '18Summer':[date(2018,6,12),date(2018,8,10)],
                '19Spring':[date(2019,1,16),date(2019,4,1)],
                '19Summer':[date(2019,6,5),date(2019,8,19)],
                '20Spring':[date(2020,2,5),date(2020,4,17)],
                '20Summer':[date(2020,6,17),date(2020,8,24)],
                '21Spring':[date(2021,1,13),date(2021,3,1)]
                }

In [93]:
data=pd.read_csv("./data_before/match/16.csv",usecols=['date'])

In [94]:
def change_pos_name(x):
    if x=='top':
        return 'Top'
    elif x=='jng':
        return 'Jungle'
    elif x=='mid':
        return 'Middle'
    elif x=='bot':
        return 'ADC'
    else:
        return 'Support'

In [95]:
def change_side_to_int(x):
    if x=='Blue':
        return 1
    else:
        return 0

In [96]:
for elem in year:
    
    data=pd.read_csv("{0}{1}.csv".format(file_directory,elem),usecols=useful_attributes)
 
    if elem=='15':
        cond1=data['league']=='LTC'
        data=data[cond1]
        data['league']=data['league'].apply(lambda x:'LCK')
    else:
        cond1=data['league']=='LCK'
        data=data[cond1]
        
        
        
    data.dropna(axis=0,inplace=True)
    data['side']=data['side'].apply(change_side_to_int)
    data['position']=data['position'].apply(change_pos_name)
    data['player'] = data['player'].apply(change_player_name)
    data_list.append(data)

C:\Users\kwcha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [98]:
all_data=pd.concat(data_list,axis=0,ignore_index=True)

all_data.set_index(['gameid'],inplace=True)

index=set(all_data.index)


all_data['date']=pd.to_datetime(all_data['date'])

count=0
for elem in index:
    season=all_data.loc[elem]['split'].iloc[0]
    year=all_data.loc[elem]['year'].iloc[0]-2000
    date=all_data.loc[elem]['date'].iloc[0]
    if year==21 and season=='Summer':
        all_data.drop(index=elem,inplace=True)
        continue
    season_duration_data=season_duration['{0}{1}'.format(year,season)]
    if not (season_duration_data[0]<=date<season_duration_data[1]):
        all_data.drop(index=elem,inplace=True)

In [99]:
all_data['player']=all_data['player'].apply(change_name)

all_data.to_csv('./data_after/match.csv',index=True)