# 팀 목록 데이터 만들기

In [55]:
import pandas as pd
import numpy as np

In [56]:
useful_attributes=['Team']
useful_attributes2=['Player','Team','Pos']

In [57]:
year=['15','16','17','18','19','20','21']
season=['Spring','Summer']
file_directory='./data_before/team/'
file_directory2 = './data_before/player/'

In [58]:
data_list=[]

In [59]:
for elem1 in year:
    for elem2 in season:
        
        if elem1=='21' and elem2=='Summer':
            continue
            
        data=pd.read_csv("{0}{1}{2}Team.csv".format(file_directory,elem1,elem2),usecols=useful_attributes)
        data2= pd.read_csv("{0}{1}{2}Player.csv".format(file_directory2,elem1,elem2),usecols=useful_attributes2)
        data['Year']=[elem1]*data.shape[0]
        data['season']=[elem2]*data.shape[0]
        
        
        members = pd.DataFrame(columns=['Player','Pos'])
        for idx in data.index:
            for idx2 in data2.index:
                
                if data.loc[idx,'Team']==data2.loc[idx2,'Team']:
                    member = data2.loc[idx2,['Player','Pos']]
                    pd.concat([members,member],axis=1)
             
            members.to_csv('./data_after/'+str(elem1)+'_'+'team/'+str(data.loc[idx,'Team'])+'.csv')
                    
        
        
        
        data_list.append(data)
        
    all_data=pd.concat(data_list,axis=0,ignore_index=True)
    all_data.to_csv('./data_after/'+str(elem1)+'_team.csv')

                    Team Year  season
0               CJ Entus   15  Spring
1     Incredible Miracle   15  Spring
2    Jin Air Green Wings   15  Spring
3             KT Rolster   15  Spring
4          NaJin e-mFire   15  Spring
..                   ...  ...     ...
124  Hanwha Life Esports   21  Spring
125           KT Rolster   21  Spring
126         Liiv SANDBOX   21  Spring
127    Nongshim RedForce   21  Spring
128                   T1   21  Spring

[129 rows x 3 columns]